/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-7-27, 13:46:55
    Author     : thinking
*/
/*	Main	Sections	*/		
html	{	background:	#EAEAEA;	}		
body {	background: #FFF;	width: 960px;	margin: 0	auto;	font-family: sansserif;
padding-bottom: 5px;	}		
header {	background: #9CF;	height: 40px;	padding: 20px;	}		
article	{	padding: 20px;	}		
footer {	background: #EEE;	border: 1px	solid	#999;	margin: 5px	10px;	padding:
0	10px;	}		
/*	Headings	*/		
header	h1 {	color: #FFF;	margin: 0;	}		
h2	{	margin: 0;	}		
/*	Form	Elements	*/		
form	p {	font-weight: bold;	margin: 0;	}		
input {	margin-bottom: 20px;	}		
textarea	{	display: block;	margin-bottom: 10px;	height: 240px;	width: 480px;}		
/*	Error	validation	*/		
.error {	color: red;	font-weight: bold;	}

/*TODO*/
#searchButton {height: 200px;	width: 100px; style:"border: 1px solid #00000";}
#viewButton {height: 200px;	width: 100px; style:"border: 1px solid #00000";}
#closeButton {height: 200px;	width: 100px; style:"border: 1px solid #00000";}

